.info__header {
    color: #222222;
    font-family: Arial;
    font-size: 54px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 60px;
    margin-bottom: 36px;
}

.info__section {
    margin-bottom: 24px;
}

.info__section-desc {
    color: #222222;
    font-family: Arial;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    margin-bottom: 10px;
}

.ip-info {
    background-color: #efefef;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.ip-info__content-wrap {
    display: flex;
    flex-basis: 500px;
    padding: 24px 36px;
}

.ip-info__icon {
    margin-right: 36px;
}

.ip-info__icon svg {
    width: 48px;
    fill: #0d845e;
}

.ip-info__content {
    flex-basis: 220px;
    color: #222222;
    font-family: Arial;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
}

.ip-info__content--email {
    margin-top: 10px;
    flex-grow: 1;
    word-break: break-all;
}

.ip-info__content-head {
    font-weight: bold;
}

.ip-info__btn-wrap {
    position: relative;
    flex-basis: 160px;
    flex-shrink: 0;
    text-align: right;
    margin-bottom: 24px;
}

.ip-info__btn {
    position: relative;
    display: inline-block;
    text-align: center;
    background-color: #0d845e;
    color: #ffffff;
    font-family: Arial;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    padding: 8px 16px;
    cursor: pointer;
}

.ip-info__btn-tip {
    transform: translatex(-50%) translatey(-100%);
    position: absolute;
    top: -15px;
    left: 50%;
    background: #222222;
    color: #ffffff;
    font-family: Arial;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    padding: 4px 8px;
}

.ip-info__btn-tip:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 1px;
    left: 50%;
    transform: translate(-50%, 100%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: #222222 transparent transparent transparent;
}

@media screen and (max-width: 540px) {
    .ip-info {
        display: block;
    }

    .ip-info__content-wrap {
        display: block;
    }

    .ip-info__btn {
        display: block;
    }
}
